* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #897b66;
  font-family: 'Balsamiq Sans', cursive;
  background-image: url('../IMG/snow.png'), url('../IMG/snow3.png'), url('../IMG/snow2.png');
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}

@keyframes snow {
  0% {
      background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
      background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@-moz-keyframes snow {
  0% {
      background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
      background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@-webkit-keyframes snow {
  0% {
      background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  50% {
      background-color: #b4cfe0;
  }

  100% {
      background-position: 500px 1000px, 400px 400px, 300px 300px;
      background-color: #6b92b9;
  }
}

@-ms-keyframes snow {
  0% {
      background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
      background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

.container {
  background-color: #ffe9a8;
  width: 550px;
  margin: auto;
  padding-bottom: 14px;
  position: relative;
}

.contentDiv{
width: 450px;
height: 450px;
margin: auto;

}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

header h1 {
  font-size: 75px;
  color: #ffa722;
}

header h1:first-letter {
  padding: 5px 10px;
  margin-right: 5px;
  background: #ff9c00;
  color: #FAF4F4;
  float: left;
  border-radius: 50% 0;
}

header .countDiv {
  display: flex;
  width: 120px;
  border-radius: 10px;
  height: 50px;
  background: #ffd094;
  flex-direction: column;
  justify-content: center;
}

header .recordDiv {
  display: flex;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  background: #ffd094;
  flex-direction: column;
  justify-content: center;
}

.mainMenuDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.mainMenuDiv .menuDiv {
  height: 50px;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 20px;
  color: #ffffff;
  overflow: hidden;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  outline: none;
  background: linear-gradient(90deg, #ffe9a8, #ffa722);
}

.mainMenuDiv .menuDiv:before,
.mainMenuDiv .menuDiv:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: -110%;
  top: 0;
  opacity: 0.1;
  background: #f71100;
  transform: skewX(25deg);
  transition: .5s ease;
}

.mainMenuDiv .menuDiv:hover:before {
  left: -10%;
  transition: .3s ease;
}

.mainMenuDiv .menuDiv:hover:after {
  left: -20%;
}

.mainMenuDiv .menuDiv a {
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
}



input {
  width: 70%;
  line-height: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, .2);
  text-align: center;
  font-size: 23px;
  color: #005049;
}

.gameDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: #ffd094;
  ;
  margin: auto;
  border-radius: 2%;
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

.gameDiv .lineDivs {
  display: flex;
  justify-content: center;
}

.lineDivsStroke {
  background: #857559d9;
  margin: 5px;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.matrix4{
width: 100px;
height: 100px;
}

.matrix5{
width: 78px;
height: 78px;
}

.matrix6{
width: 63px;
height: 63px;
}

.matrix7{
width: 53px;
height: 53px;
}

.matrix8{
width: 46px;
height: 46px;
}


.mainmenu__link .active {
  text-decoration: none;
  background-color: #000;
  color: #fff;
}

.rulesClass {
  position: relative;
  background: #ffd094;
  ;
  margin: auto;
  border-radius: 2%;
  margin-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}

.rulesClass ol {
  padding: 25px;
  font-size: 14px;
  color: #004e47;
}

.rulesClass li {
  padding-bottom: 10px;
}

.menuDivContent {
  background: #ffd094;
  ;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 2%;
  margin-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.menuDivContent .divsMenu {
  width: 80%;
  height: 50px;
  background: #897b66;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuDivContent .divsMenu {
  text-shadow: 1px 1px rgb(0 0 0 / 30%);
  background: rgb(255 167 32);
  box-shadow: inset 0 0 3px 1px rgb(217 121 67 / 80%), inset rgb(255 136 0 / 30%) -5px -5px 8px 5px, inset rgb(255 255 255 / 50%) 5px 5px 8px 5px, 1px 1px 1px rgb(255 255 255 / 10%), -2px -2px 5px rgb(90 52 22 / 50%);
  transition: .2s;
}

.menuDivContent .divsMenu a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  color: #662a80;
}

.menuDivContent .divsMenu hr {
  height: 100%;
  border: 1px solid #662a86;
}

.menuDivContent .divsMenu div {
  display: flex;
  padding: 20px;
  width: 100%;
  color: #662a86;
  font-size: 20px;
}

.menuDivContent .divsMenu .size {
  width: 50%;
}

.menuDivContent .divsMenu:hover {
  color: rgba(255, 255, 255, .9);
  background: rgb(255 141 0);
}

.menuDivContent .divsMenu:active {
  background: rgb(255 107 21);
  box-shadow:
      inset 0 0 5px 3px rgba(0, 0, 0, .8),
      inset rgba(0, 0, 0, .3) -5px -5px 8px 5px,
      inset rgba(255, 255, 255, .5) 5px 5px 8px 5px,
      1px 1px 1px rgba(255, 255, 255, .2),
      -2px -2px 5px rgba(0, 0, 0, .5);
}

.menuDivContent button {
  font-size: 23px;
  color: #662a86;
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  font-family: 'Balsamiq Sans', cursive;
}

.resultsDivContent {
  display: flex;
  justify-content: center;
  background: #ffd094;
  
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 2%;
  margin-top: 10px;
  padding-bottom: 10px;
}

.newElem {
  position: absolute;
  
  font-family: 'Patrick Hand', cursive;
  font-size: 35px;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s;
}

[data-color='2'] { 
background: #eee4da;
}
[data-color='4'] { 
background: #fff6cf;
}
[data-color='8'] { 
background: #f3b27a;
}
[data-color='16'] { 
background: #f69664;
}
[data-color='32'] { 
background: #f77c5f;
}
[data-color='64'] { 
background: #f75f3b;
}
[data-color='128'] { 
background: #edd073;
}
[data-color='256'] { 
background: rgb(241 198 61);
}
[data-color='512'] { 
background: rgb(249 189 0);
}
[data-color='1024'] { 
background: rgb(249 149 0);
}
[data-color='2048'] { 
background: rgb(249 103 0);
}
[data-color='4096'] { 
background: rgb(191 103 41);
}
[data-color='8192'] { 
background: rgb(255 106 0);
}


.newElemScale {
  animation: scalingNewElem 0.3s;
  transform: scale(0.9);
}

.scale {
  animation: scaling 0.5s;
  transform: scale(1);
}

@keyframes scaling {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(1.1);
  }

  100% {
      transform: scale(1);
  }
}

@keyframes scalingNewElem {
  0% {
      transform: scale(0.8);
  }

  50% {
      transform: scale(0.9);
  }

  100% {
      transform: scale(1);
  }
}


.divGameOver {
  background: #ffd094;
  ;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 2%;
  margin-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
}

.divGameOver h2 {
  font-size: 46px;
  text-align: center;
}

.divGameOver a {
  border: 1px gray solid;
  border-radius: 5px;
  padding: 8px 12px;
  margin: 0 10px;
  font-size: 25px;
}

.modal__NewGame {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.modal__NewGame:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.modal__NewGame:active {
  background-color: #bd2130;
  border-color: #b21f2d;
}

.modalName {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  text-align: center;
  width: 300px;
  height: 125px;
  font-size: 35px;
}

#resultsOl {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: space-evenly;
  font-size: 25px;
}

.container1{
width: 100%;
height: 100%;
}